*{
    padding: 0;
    margin:0;
    font-family: Open sans, 'sans-serif';
    overflow: hidden;
}

body{
    background: #000;
}

.container{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50% -50%);
    width: 100%;
}

.container span{
    text-transform: uppercase;
    display: block;
}

.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 10px;
    background:black;
    position:relative;
    animation: text 3s 1;
}

.text2{
    font-size: 30px;
    color: #6ab04c;
}

@keyframes text{
    0%{
        color:black;
        margin-bottom: -40px;
    }

    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    80%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}